---
import CardT from  '../components/CardT.astro';
import CardF from  '../components/CardF.astro';

// Iconos svg
const tailwind="M11.8 5.7A4.8 4.8 0 0 0 7 10a3.4 3.4 0 0 1 2.7-1.7c1.7 0 3 2 3.8 2.6a5.7 5.7 0 0 0 5.4 1c2-.7 2.9-3 3.1-4-1 1.4-2.4 2.2-4.3 1.2-1.2-.6-2.1-3.4-6-3.3Zm-5 6.3A4.8 4.8 0 0 0 2 16.2a3.4 3.4 0 0 1 2.7-1.7c1.7 0 3 2 3.8 2.6a5.7 5.7 0 0 0 5.4.9c2-.7 3-2.9 3.1-4-1 1.4-2.4 2.3-4.2 1.3-1.3-.7-2.2-3.4-6-3.3Z"
const astro = "M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z"
const reflex = "M0 20V0H16V8.00001H12V4H4V8.00001H12V12H4V20H0ZM12 20V12H16V20H12Z"
const flet = "m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"
const bootstrap = "M333.5 201.4c0-22.1-15.6-34.3-43-34.3h-50.4v71.2h42.5C315.4 238.2 333.5 225 333.5 201.4zM517 188.6c-9.5-30.9-10.9-68.8-9.8-98.1c1.1-30.5-22.7-58.5-54.7-58.5H123.7c-32.1 0-55.8 28.1-54.7 58.5c1 29.3-.3 67.2-9.8 98.1c-9.6 31-25.7 50.6-52.2 53.1v28.5c26.4 2.5 42.6 22.1 52.2 53.1c9.5 30.9 10.9 68.8 9.8 98.1c-1.1 30.5 22.7 58.5 54.7 58.5h328.7c32.1 0 55.8-28.1 54.7-58.5c-1-29.3 .3-67.2 9.8-98.1c9.6-31 25.7-50.6 52.1-53.1v-28.5C542.7 239.2 526.5 219.6 517 188.6zM300.2 375.1h-97.9V136.8h97.4c43.3 0 71.7 23.4 71.7 59.4c0 25.3-19.1 47.9-43.5 51.8v1.3c33.2 3.6 55.5 26.6 55.5 58.3C383.4 349.7 352.1 375.1 300.2 375.1zM290.2 266.4h-50.1v78.4h52.3c34.2 0 52.3-13.7 52.3-39.5C344.7 279.6 326.1 266.4 290.2 266.4z"

const flet1 = "M39.28 144.74c-0.85,-1.52 -0.66,-2.61 0.1,-4.13 31.41,-58.36 78.81,-94.15 138.53,-119.75 2.03,-0.86 5.04,1.52 4.31,3.65 -8.9,25.91 -15.18,51.13 -18.82,78.23 -3.32,24.97 -4.24,50.79 -0.87,77.77 3.56,30.59 10.88,55.99 19.68,83.36 0.98,3.05 -2.14,4.43 -4.51,3.26 -62.19,-30.61 -109.33,-70.65 -138.42,-122.39z"
const flet2 = "M224.53 198.59c-34.39,-10.79 -65.15,-29.06 -92.4,-53.2 -1.82,-1.62 -1.61,-3.87 0.03,-5.44 27.07,-25.88 57.79,-46.19 91.74,-60.56 2.99,-1.27 5.45,1.2 4.56,4.62 -9.62,36.91 -11.74,73.39 0.13,109.95 0.98,3.05 -1.47,5.44 -4.06,4.63z"
const flet3 = "M224.53 198.59c-22.64,-7.1 -43.71,-17.45 -63.24,-30.58 -1.35,-20.9 -1.47,-30.2 0.73,-53.26 19.19,-14.22 39.86,-26.04 61.88,-35.36 2.99,-1.27 5.45,1.2 4.56,4.62 -9.62,36.91 -11.74,73.39 0.13,109.95 0.98,3.05 -1.47,5.44 -4.06,4.63z"
---

<section id="technologies" class="w-8/12 p-0 mx-auto mb-5 flex items-center flex-col">
    <h1 class="text-4xl font-bold text-center py-6">Tecnologias</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
        <CardT icon="html5" text="Html5"/>
        <CardT icon="css3" text="Css"/>
        <CardT icon="js" text="Javascript"/>
        <CardT icon="react" text="React"/>
        <CardT icon="android" text="Kotlin"/>
        <CardT icon="swift" text="Swift"/>
        <CardT icon="python" text="Python"/>

    </div>

    <h1 class="text-4xl font-bold text-center py-6">Frameworks</h1>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
        <CardF icon={tailwind} text="Tailwindcss" size="0 0 24 24"/>
        <CardF icon={astro} text="Astro" size="0 0 24 24"/>
        <CardF icon={reflex} text="Reflex" size="0 0 24 24"/>
        <CardF flet1={flet1} flet2={flet2} flet3={flet3} text="Flet" size="0 0 250 250"/>
        <CardF icon={bootstrap} text="Bootstrap" size="10 10 550 550"/>

    </div>
</section>